In [1]:
import pandas as pd

In [2]:
meteoriteFile = "Resources/meteorite-landings.csv"

In [3]:
meteoriteDF = pd.read_csv(meteoriteFile, encoding="ISO-8859-1")

In [4]:
meteoriteDF.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"

In [5]:
meteoriteFellDF = meteoriteDF[meteoriteDF["fall"] == "Fell"]

In [6]:
meteoriteFellDF = meteoriteFellDF.drop(meteoriteFellDF[(meteoriteFellDF["reclat"] == 0) & (meteoriteFellDF["reclong"] == 0)].index)

In [7]:
meteoriteFellDF = meteoriteFellDF.drop(meteoriteFellDF[(meteoriteFellDF["year"] >= 2016.0) | (meteoriteFellDF["year"] < 860.0)].index)